.card-container {
  padding: 0.5rem;
  display: flex;
}

.card {
  width: 100%;
  max-width: 300px;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  background-color: #8bbe8a;
  border-radius: 1rem;
  max-height: 90px;
  transition: all 0.2s ease;

  &:hover {
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
}

.card-img {
  position: relative;
  top: -10px;

  img {
    width: 100%;
    height: auto;
    max-width: 160px;
    min-width: 160px;
    z-index: 0;
  }
}

.card-data-id {
  span {
    font-size: 0.9rem;
    font-weight: 600;
    color: #212529;
  }
}

.card-data-name {
  span {
    font-weight: 600;
    font-size: 1.6rem;
    color: #fff;
  }
}

.card-data-types {
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
  display: flex;

  .fas {
    margin-right: 0.2rem;
  }
}

.card-data-typeA {
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    display: flex;
    font-size: 0.8rem;
    padding: 0.3rem;
    margin: 0 0.2rem 0 0;
    background-color: #62b958;
    color: #fff;
    border-radius: 0.4rem;
  }
}

.card-data-typeB {
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    display: flex;
    font-size: 0.8rem;
    padding: 0.3rem;
    margin: 0 0 0 0.2rem;
    background-color: #a552cc;
    color: #fff;
    border-radius: 0.4rem;
  }
}

.card-img-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 130px;
  max-width: 130px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  text-align: center;
}

.card-data-kanji {
  span {
    color: #ffffffb6;
    font-size: 1rem;
    width: 200px;
  }
}

/* MQ */

@media all and (min-width: 1024px) {
}
@media all and (min-width: 768px) {
}
@media all and (min-width: 480px) {
}
