.header {
  margin: 0 auto;
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.header_title {
  h1 {
    font-weight: 900;
    margin: 0;
  }
}

.header_subtitle {
  h3 {
    font-weight: 400;
    margin: 0.5rem 0;
  }
}

.header_search {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_search-bar {
  max-width: 300px;
  display: flex;
  background-color: #f2f4f4;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
}

.header_search-input {
  display: flex;
  width: 100%;

  input {
    background-color: transparent;
    border: none;
    width: 100%;
  }
}

.fa-search {
  padding-right: 0.5rem;

  &:hover {
    cursor: pointer;
  }
}
