.navbar {
  display: flex;
  padding: 0.5rem;
  justify-content: flex-end;
}

.navbar_options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar_option {
  padding: 0.5rem;

  &:hover {
    cursor: pointer;
  }
}

.header_subtitle {
  h3 {
    font-size: 1rem;
    font-weight: normal;
    color: #868e96;
  }
}
